<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace空间名，对应我们定义的接口,做唯一标识的 -->
<mapper namespace="com.excellence.iamp.dao.PythonTypeDao">
	<resultMap id="PythonType" type="com.excellence.iamp.vo.PythonType">  
	    <id column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />  
	    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />    
	    <result column="status" property="status" jdbcType="SMALLINT" />    
	    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />  
	    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />  
	    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />   
	    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />   
	</resultMap>
	
	<sql id="conditionFragment">  
		<where> 1=1
			<if test="typeId !='' and typeId != null">and TYPE_ID=#{typeId}</if>		
			<if test="typeName !='' and typeName != null">and TYPE_NAME = #{typeName}</if>				
			<if test="status !='' and status != null">and status=#{status}</if>				
			<if test="createDate !='' and createDate != null">and create_date=#{createDate}</if>		
			<if test="creatorId !='' and creatorId != null">and creator_id=#{creatorId}</if>		
			<if test="creatorName !='' and creatorName != null">and creator_name=#{creatorName}</if>		
			<if test="updateDate !='' and updateDate != null">and update_date=#{updateDate}</if>		
		</where> 
	</sql> 
	
	<!-- 查询list -->
	<select id="getList" parameterType="java.util.Map" resultMap="PythonType">
		select * from ia_python_type
		<include refid="conditionFragment" />
	</select>
	
	<select id="findById" parameterType="java.lang.String"  resultMap="PythonType">
		select * from ia_python_type 
		where 
		type_id=#{typeId}
	</select>
	 <!-- 插入-->
    <insert id="insert" parameterType="com.excellence.iamp.vo.PythonType">
        insert into ia_python_type(type_id,type_name,status,create_date,creator_id,creator_name,update_date)
        values(#{typeId},#{typeName},#{status},#{createDate},#{creatorId},#{creatorName},#{updateDate});
    </insert>
    <!-- 删除 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from ia_python_type
        where type_id=#{typeId}
    </delete>
   
    <!-- 更新 -->
    <update id="update" parameterType="com.excellence.iamp.vo.PythonType">
        update  ia_python_type set
        type_id=#{typeId},type_name=#{typeName},status=#{status},create_date=#{createDate},
        creator_id=#{creatorId},creator_name=#{creatorName},update_date=#{updateDate}
        where type_id=#{typeId}
    </update>
    
    	<!-- 统计总数 -->
	<select id="countByCondition" resultType="java.lang.Integer">
		select count(1) from ia_python_type
		<include refid="conditionFragment" />
	</select>
</mapper>