<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace空间名，对应我们定义的接口,做唯一标识的 -->
<mapper namespace="com.excellence.iamp.dao.PythonProgramDao">
	<resultMap id="PythonProgram" type="com.excellence.iamp.vo.PythonProgram">  
	    <id column="PROGRAM_ID" property="programId" jdbcType="VARCHAR" />  
	    <result column="PROGRAM_NAME" property="programName" jdbcType="VARCHAR" />  
	    <result column="PROGRAM_CNAME" property="programCName" jdbcType="VARCHAR" />   
	    <result column="KEY_WORD" property="keyWord" jdbcType="VARCHAR" />  
	    <result column="PYTHON_PATH" property="pythonPath" jdbcType="VARCHAR" />  
	    <result column="PROGRAM_INPUT" property="programInput" jdbcType="VARCHAR" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />     
	    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />  
	    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
	    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />     
	    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	    <result column="type_name" property="typeName" jdbcType="VARCHAR" />    
	</resultMap> 
	
 	<sql id="conditionFragment">  
		<where> 1=1
			<if test="programId !='' and programId != null">and PROGRAM_ID=#{programId}</if>		
			<if test="programName !='' and programName != null">and PROGRAM_NAME like "%"#{programName}"%"</if>		
			<if test="programCName !='' and programCName != null">and PROGRAM_CNAME like "%"#{programCName}"%"</if>		
			<if test="keyWord !='' and keyWord != null">and KEY_WORD=#{keyWord}</if>		
			<if test="pythonPath !='' and pythonPath != null">and PYTHON_PATH=#{pythonPath}</if>			
			<if test="programInput !='' and programInput != null">and "PROGRAM_INPUT"=#{programInput}</if>
			<if test="createDate !='' and createDate != null">and create_date=#{createDate}</if>				
			<if test="remark !='' and remark != null">and remark=#{remark}</if>				
			<if test="creatorId !='' and creatorId != null">and creator_id=#{creatorId}</if>		
			<if test="creatorName !='' and creatorName != null">and creator_name=#{creatorName}</if>		
			<if test="updateDate !='' and updateDate != null">and update_date=#{updateDate}</if>		
			<if test="typeName !='' and typeName != null">and type_name=#{typeName}</if>
		</where> 
	</sql>  
	
	
	<!-- 新增 -->
	<insert id="insert" parameterType="com.excellence.iamp.vo.PythonProgram">
        insert into IA_Python_Program 
        (
        	PROGRAM_ID,PROGRAM_NAME,PROGRAM_CNAME,KEY_WORD,PYTHON_PATH,PROGRAM_INPUT,remark,create_date,
        	creator_id,creator_name,update_date,type_name
        )
        values 
        (
	        #{programId,jdbcType=VARCHAR},#{programName,jdbcType=VARCHAR}, #{programCName,jdbcType=VARCHAR},
	        #{keyWord,jdbcType=VARCHAR},#{pythonPath,jdbcType=VARCHAR},#{programInput,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},
	        #{createDate,jdbcType=TIMESTAMP},
	        #{creatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},#{typeName,jdbcType=VARCHAR}
        )
    </insert>
    
    <!-- 更新 -->
	<update id="update" parameterType="com.excellence.iamp.vo.PythonProgram">
		UPDATE IA_Python_Program SET
		PROGRAM_NAME=#{programName,jdbcType=VARCHAR},
		PROGRAM_CNAME=#{programCName,jdbcType=VARCHAR},
		KEY_WORD=#{keyWord,jdbcType=VARCHAR},
		python_path=#{pythonPath,jdbcType=VARCHAR},
		PROGRAM_INPUT=#{programInput,jdbcType=VARCHAR},
		remark=#{remark,jdbcType=VARCHAR},
		create_date=#{createDate,jdbcType=TIMESTAMP},
		creator_id=#{creatorId,jdbcType=VARCHAR}, 
		creator_name=#{creatorName,jdbcType=VARCHAR},
		update_date=#{updateDate,jdbcType=TIMESTAMP},
		type_name=#{typeName,jdbcType=VARCHAR}
		WHERE
		PROGRAM_ID=#{programId,jdbcType=VARCHAR}
	</update>
    
	<!-- 删除 -->
    <delete id="delById" parameterType="java.lang.String">
		DELETE FROM IA_Python_Program 
		WHERE
		PROGRAM_ID=#{programId}
	</delete> 
	
	<!-- 通过ID查询对象 -->
	<select id="getPythonProgramById" parameterType="java.lang.String" resultMap="PythonProgram">
		select * from IA_Python_Program
		where 
		PROGRAM_ID = #{programId}
	</select>
    
	<!-- 查询list -->
	<select id="getList"  parameterType="java.util.Map" resultMap="PythonProgram">
		select * from IA_Python_Program
		<include refid="conditionFragment" />
	</select>
	
		<!-- 统计总数 -->
	<select id="countByCondition" resultType="java.lang.Integer">
		select count(1) from IA_Python_Program
		<include refid="conditionFragment" />
	</select>
</mapper>